@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), url('../fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v17-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v17-latin_cyrillic-700.woff') format('woff');
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}
main {
  flex-grow: 1;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.swiper-container {
  width: 924px;
  height: 373px;
  margin: 0;
}
.swiper-container-2 {
  overflow: hidden;
}
.swiper-container-2 .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 25px;
  margin-left: 100px;
}
.swiper-container-2 .swiper-wrapper .swiper-slide {
  width: 200px;
}
@media (max-width: 548px) {
  .swiper-container {
    width: 520px;
    height: 227px;
  }
}
.big-wrapper {
  width: 1242px;
  margin: 0 auto;
}
.wrapper {
  width: 925px;
  margin-left: 318px;
}
@media (max-width: 548px) {
  .big-wrapper {
    width: 520px;
    margin: 0 auto;
  }
  .wrapper {
    width: 520px;
    margin-left: 0;
  }
}
.about-company {
  margin-bottom: 65px;
}
.about-company .ac__text {
  margin: 0;
  margin-top: 10px;
  text-align: center;
}
.assortment {
  float: left;
  width: 287px;
  margin-right: 30px;
  margin-left: 15%;
}
.assortment .menu {
  width: 285px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.assortment .menu li {
  border-top: 1px solid #cdcdcd;
}
.assortment .menu li a {
  display: inline-block;
  box-sizing: border-box;
  width: 287px;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
.assortment .menu li a:focus,
.assortment .menu li a:hover {
  color: #fff;
  background-color: #e42229;
}
.assortment .menu li a:active {
  opacity: 0.3;
}
.assortment .menu li.leaf {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}
.assortment .menu li.active-trail a {
  color: #fff;
  background-color: #e42229;
}
.assortment .menu .expanded {
  margin: 0;
  padding: 0;
  list-style: none;
}
.assortment .menu .expanded li {
  padding: 0;
  border-top: none;
}
.assortment .menu .expanded li a {
  margin: 0;
  padding: 2px 0 2px 25px;
  text-transform: none;
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
  background-position: 9px 11px;
  cursor: pointer;
}
.assortment .menu .expanded li a:focus,
.assortment .menu .expanded li a:hover {
  opacity: 0.7;
  color: #000;
  background-color: transparent;
}
.assortment .menu .expanded li a:active {
  opacity: 0.3;
}
.assortment .menu .expanded .menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.assortment .menu .expanded .menu li {
  padding-left: 15px;
}
.assortment .menu .expanded .menu li a {
  color: #000;
  background-color: #fff;
}
.assortment .menu .expanded .menu li a:focus,
.assortment .menu .expanded .menu li a:hover {
  opacity: 0.7;
}
.assortment .menu .expanded .menu li a:active {
  opacity: 0.3;
}
.assortment .menu .expanded--visible .menu {
  display: block;
}
.assortment .menu:first-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (max-width: 548px) {
  .assortment {
    float: none;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  .assortment .menu {
    width: 500px;
  }
  .assortment .menu li a {
    width: 500px;
    padding: 10px 5px;
  }
}
.basket {
  margin-top: 55px;
}
.basket .b-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.basket .b-list .bl-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  padding: 9px 10px;
  background-color: #f7f7f7;
}
.basket .b-list .bl-item .bli-img {
  border-radius: 50%;
}
.basket .b-list .bl-item .blid-discount {
  position: absolute;
  top: -10px;
  left: 95px;
  width: 45px;
  height: 45px;
  padding: 12px 7px;
  text-align: center;
  color: #fff;
  background-color: #e42229;
  border-radius: 50%;
}
.basket .b-list .bl-item .bli-title {
  margin: 0;
  margin-left: 40px;
  width: 200px;
  max-width: 250px;
  font-size: 18px;
}
.basket .b-list .bl-item .bli-title a {
  color: #000;
}
.basket .b-list .bl-item input[id^='edit-del'] {
  position: absolute;
  top: -15px;
  right: -110px;
  margin: 0;
  padding: 0;
  width: 40px;
  min-height: 40px;
  font-size: 60px;
  color: #d1d1d1;
  background-color: transparent;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;
}
.basket .b-list .bl-item input[id^='edit-del']:focus,
.basket .b-list .bl-item input[id^='edit-del']:hover {
  color: #e42229;
}
.basket .b-list .bl-item input[id^='edit-del']:active {
  opacity: 0.3;
}
.basket .b-btn-link {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 242px;
  min-height: 49px;
  padding: 12px;
  font: inherit;
  text-align: center;
  color: #fff;
  background-color: #e42229;
  border: none;
  border-radius: 30px;
}
.basket .b-btn-link:focus,
.basket .b-btn-link:hover {
  opacity: 0.7;
}
.basket .b-btn-link:active {
  opacity: 0.3;
}
.basket .price-and-counter {
  margin-left: 50px;
}
.basket .price-and-counter .pac-wrap {
  display: flex;
  width: 150px;
}
@media (max-width: 548px) {
  .basket .b-list .bl-item .bli-title {
    margin-right: 100px;
  }
  .basket .b-list .bl-item .price-and-counter {
    margin-left: 0;
  }
  .basket .b-list .bl-item .btn--close {
    margin-left: 30px;
  }
}
.block-header {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.block-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 103px/2);
  width: 103px;
  height: 1px;
  background-color: #e42229;
}
.breadcrumb .inline a {
  color: #000;
}
.breadcrumb .inline a:focus,
.breadcrumb .inline a:hover {
  color: #e42229;
}
.breadcrumb .inline a:active {
  opacity: 0.3;
}
.breadcrumb .inline:not(.last) {
  border-bottom: 1px solid #d1d1d1;
}
.contacts {
  padding-top: 60px;
  padding-left: 35px;
  color: #fff;
}
.contacts .c__header {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}
.contacts .c__text {
  max-width: 512px;
  margin: 0;
  text-align: center;
}
.contacts .c__info {
  margin-top: 55px;
  margin-left: 125px;
}
.contacts .c__info .c__address-title,
.contacts .c__info .c__phone-title {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
}
.contacts .c__info .c__address,
.contacts .c__info .c__phone {
  margin: 5px 0 15px 0;
  font-size: 20px;
  line-height: 28px;
}
.contacts .c__social-list {
  display: flex;
  margin: 60px 0 0 200px;
  padding: 0;
  list-style: none;
}
.contacts .c__social-list .c__item .c__link:focus,
.contacts .c__social-list .c__item .c__link:hover {
  opacity: 0.7;
}
.contacts .c__social-list .c__item .c__link:active {
  opacity: 0.3;
}
.contacts .c__social-list .c__item:not(:last-child) {
  margin-right: 18px;
}
@media (max-width: 548px) {
  .contacts .c__social-list {
    margin-left: 0;
  }
}
.event {
  padding: 71px 357px 71px 70px;
  color: #fff;
  background-color: #000;
  background-image: url(../img/event-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.event .e__title a {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
}
.event .e__desc {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
}
.event .e__link {
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
}
.event .e__link:focus,
.event .e__link:hover {
  opacity: 0.7;
}
.event .e__link:active {
  opacity: 0.3;
}
@media (max-width: 548px) {
  .event {
    padding: 5px;
  }
  .event .e__title a {
    font-size: 24px;
    line-height: 30px;
  }
}
.events {
  margin-bottom: 30px;
}
.features {
  margin-bottom: 40px;
}
.features .f__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features .f__list .f__item .f__text {
  max-width: 258px;
  margin: 0;
  padding-top: 125px;
  font-weight: 300;
  text-align: center;
}
.features .f__list .f__item:nth-child(1) .f__text {
  background-image: url(../img/feature-1.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.features .f__list .f__item:nth-child(2) .f__text {
  background-image: url(../img/feature-2.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.features .f__list .f__item:nth-child(3) .f__text {
  background-image: url(../img/feature-3.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (max-width: 548px) {
  .features .f__list {
    justify-content: center;
  }
  .features .f__list .f__item {
    margin-bottom: 30px;
  }
}
.first-section {
  display: flex;
  margin-bottom: 60px;
}
.goods {
  margin-bottom: 100px;
}
.goods .g__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.goods .g__list .g__item {
  margin-bottom: 35px;
}
.goods .g__list .g__item .g__title,
.goods .g__list .g__item .g__title a {
  width: 200px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}
.goods .g__list .g__item .g__title:focus,
.goods .g__list .g__item .g__title:hover {
  opacity: 0.7;
}
.goods .g__list .g__item .g__title:active {
  opacity: 0.3;
}
.goods .g__list .g__item .g__desc {
  padding: 0;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  border-bottom: 1px solid #cdcdcd;
}
.goods .g__list .g__item .g__order {
  display: flex;
  justify-content: space-between;
}
.goods .g__list .g__item .g__order .g__price {
  font-size: 24px;
  font-weight: 300;
}
.goods input[type='submit'] {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #e42229;
  background-color: transparent;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #e42229;
  cursor: pointer;
}
.goods input[value='Добавить'] {
  padding-right: 30px;
  background-position: 75px 0;
}
.goods input[value='Убрать'] {
  padding-right: 50px;
  background-position: 77px 0;
}
.goods input[type='submit']:focus,
.goods input[type='submit']:hover {
  opacity: 0.7;
}
.goods input[type='submit']:active {
  opacity: 0.3;
}
@media (min-width: 549px) {
  .goods .g__list .g__item:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}
@media (max-width: 548px) {
  .goods .g__list {
    justify-content: center;
  }
}
.last-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  background-color: #e42229;
}
@media (max-width: 548px) {
  .last-block {
    flex-direction: column;
  }
}
.map {
  max-height: 640px;
}
.map iframe {
  border: none;
}
.menu-bottom .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-left: 30px;
  list-style: none;
}
.menu-bottom .menu .leaf {
  list-style: none;
}
.menu-bottom .menu a {
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}
.menu-bottom .menu a:hover,
.menu-bottom .menu a:focus {
  opacity: 0.7;
}
.menu-bottom .menu a:active {
  opacity: 0.3;
}
.menu-bottom .menu .active {
  color: #e42229;
  border-bottom: 1px solid #e42229;
}
.menu-bottom .mb__btn-burger {
  display: none;
}
@media (max-width: 548px) {
  .menu-bottom {
    display: flex;
    justify-content: space-between;
  }
  .menu-bottom .menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  .menu-bottom .menu a {
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
  }
  .menu-bottom .menu--visible {
    display: flex;
    flex-direction: column;
  }
  .menu-bottom .mb__btn-burger {
    position: relative;
    float: right;
    display: block;
    width: 50px;
    height: 10px;
    margin: 20px 0;
    padding: 0;
    background-color: #e42229;
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
    outline: none;
  }
  .menu-bottom .mb__btn-burger::before,
  .menu-bottom .mb__btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: #e42229;
    transition-duration: 0.3s;
  }
  .menu-bottom .mb__btn-burger::before {
    top: -20px;
    left: 0;
  }
  .menu-bottom .mb__btn-burger::after {
    bottom: -20px;
    left: 0;
  }
  .menu-bottom .mb__btn-burger--close {
    background-color: transparent;
    transition-duration: 0.3s;
  }
  .menu-bottom .mb__btn-burger--close::before,
  .menu-bottom .mb__btn-burger--close::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: #e42229;
    transition-duration: 0.3s;
  }
  .menu-bottom .mb__btn-burger--close::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menu-bottom .mb__btn-burger--close::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}
.menu-top {
  display: flex;
  margin-bottom: 25px;
}
.menu-top .mt__search {
  box-sizing: border-box;
  width: 320px;
  padding: 10px 15px 10px 35px;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  outline: none;
}
.menu-top .mt__email {
  margin-left: 90px;
  margin-right: 30px;
  color: #e42229;
  border-bottom: 1px solid #e42229;
}
.menu-top .mt__phone {
  margin-right: 70px;
}
.menu-top .mt__basket {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 10px;
  padding-bottom: 0;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.menu-top .mt__basket:focus,
.menu-top .mt__basket:hover {
  opacity: 0.7;
}
.menu-top .mt__basket:active {
  opacity: 0.3;
}
.menu-top .mt__basket-count {
  content: '';
  position: absolute;
  top: 0;
  right: 8px;
  display: inline-block;
  width: 23px;
  height: 23px;
  font-size: 12px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  background-color: #e42229;
  border-radius: 50%;
}
.page-footer .menu-top {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.page-footer .menu-top .mt__email {
  margin-left: 0;
}
.page-footer .menu-top .mt__phone {
  margin: 0;
}
@media (max-width: 548px) {
  .page-header .menu-top .mt__search {
    display: none;
  }
}
@media (max-width: 548px) {
  .page-footer .menu-top {
    justify-content: center;
    margin-top: 20px;
  }
  .page-footer .menu-bottom {
    display: none;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-left: 130px;
}
@media (max-width: 548px) {
  .menu {
    padding-left: 0;
  }
}
#mr-sb-basket-confirm-form {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
}
#mr-sb-basket-confirm-form input:not([type='radio']),
#mr-sb-basket-confirm-form select,
#mr-sb-basket-confirm-form textarea {
  box-sizing: border-box;
  width: 240px;
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 30px;
}
#mr-sb-basket-confirm-form textarea {
  width: 100%;
}
#mr-sb-basket-confirm-form .form-submit {
  color: #fff;
  background-color: #e42229;
  cursor: pointer;
}
#mr-sb-basket-confirm-form .form-submit:focus,
#mr-sb-basket-confirm-form .form-submit:hover {
  opacity: 0.7;
}
#mr-sb-basket-confirm-form .form-submit:active {
  opacity: 0.3;
}
.page-footer {
  padding-bottom: 45px;
}
.page-footer .ph__logo {
  float: left;
}
@media (max-width: 548px) {
  .page-footer .ph__logo {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 25px;
  }
}
.page-header {
  padding-bottom: 45px;
}
.page-header .ph__logo {
  float: left;
  margin-top: 55px;
}
@media (max-width: 548px) {
  .page-header .ph__logo {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 25px;
  }
}
.item-list .pager {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-list .pager li {
  position: relative;
  margin: 0;
  padding: 0;
}
.item-list .pager li[class^="pager"] a,
.item-list .pager .pager-current {
  display: block;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  padding: 10px;
  text-align: center;
  color: #000;
  border-radius: 5px;
}
.item-list .pager li[class^="pager"] a:not(.pi-link-arrow):focus,
.item-list .pager li[class^="pager"] a:not(.pi-link-arrow):hover {
  color: #fff;
  background-color: #e42229;
}
.item-list .pager li[class^="pager"] a:active {
  opacity: 0.3;
}
.perfomance {
  margin-top: 20px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}
.perfomance .p__link {
  position: relative;
  color: #000;
  border-bottom: 1px solid #cdcdcd;
}
.perfomance .p__link::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -100px;
  width: 9px;
  height: 14px;
  background-image: url(../img/green-arrow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.perfomance .p__link:focus,
.perfomance .p__link:hover {
  opacity: 0.7;
}
.perfomance .p__link:active {
  opacity: 0.3;
}
@media (max-width: 548px) {
  .perfomance {
    text-align: center;
  }
}
.price-and-counter {
  position: relative;
  display: flex;
  align-items: top;
}
.price-and-counter .price {
  text-decoration: line-through;
  font-size: 24px;
  line-height: 24px;
  color: #959595;
}
.price-and-counter .price-discount {
  margin-left: 20px;
  font-size: 32px;
  line-height: 32px;
  color: #e42229;
}
.price-and-counter .ui-spinner {
  margin-left: 35px;
  padding-left: 30px;
}
.price-and-counter .ui-spinner .ui-spinner-input {
  box-sizing: border-box;
  width: 97px;
  height: 40px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  color: #e42229;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.price-and-counter .ui-spinner .ui-spinner-input:focus,
.price-and-counter .ui-spinner .ui-spinner-input:hover {
  border-color: #e42229;
}
.price-and-counter .ui-spinner .ui-spinner-button {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #d1d1d1;
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.price-and-counter .ui-spinner .ui-spinner-button:focus,
.price-and-counter .ui-spinner .ui-spinner-button:hover {
  color: #e42229;
}
.price-and-counter .ui-spinner .ui-spinner-button:active {
  opacity: 0.3;
}
.price-and-counter .ui-spinner .ui-spinner-down {
  position: absolute;
  top: 0;
  left: 0;
}
.price-and-counter .ui-widget-content {
  border: none;
  background: none;
}
.price-and-counter .counter .form-item {
  margin: 0;
}
.price-and-counter .counter .form-submit {
  margin-top: 10px;
  margin-left: 70px;
}
@media (max-width: 548px) {
  .counter {
    margin-left: 20px;
  }
}
.services {
  margin-bottom: 60px;
}
.services .s__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.services .s__list .s__item .s__img {
  width: 287px;
  height: 163px;
}
.services .s__list .s__item .s__title,
.services .s__list .s__item .s__title a {
  max-width: 287px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000;
}
.services .s__list .s__item .s__title:focus,
.services .s__list .s__item .s__title:hover {
  color: #e42229;
}
.services .s__list .s__item .s__title:active {
  opacity: 0.3;
}
@media (min-width: 549px) {
  .services .s__list .s__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media (max-width: 548px) {
  .services .s__list {
    justify-content: center;
  }
  .services .s__list .s__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
.trust {
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #f3f8fb;
  background-image: url(../img/trust-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.trust .t__items {
  width: 500px;
}
@media (max-width: 548px) {
  .trust {
    background: none;
    background-color: #f3f8fb;
  }
  .trust .wrapper {
    margin-top: 0;
  }
}
div.geofield-ymap {
  width: 1040px;
  height: 640px;
}
@media (max-width: 548px) {
  div.geofield-ymap {
    width: 100%;
    height: 300px;
  }
}
